<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppLanguage>en</AppLanguage>
  <SubscribedUrls>
    <string>iros://Url/https$github.com/tsunamods-codes/7th-Heaven-Catalogs/releases/download/canary/qhimm.xml</string>
    <string>iros://Url/https$github.com/tsunamods-codes/7th-Heaven-Catalogs/releases/download/canary/sega.xml</string>
  </SubscribedUrls>
  <ExtraFolders>
    <string>ambient</string>
    <string>direct</string>
    <string>lighting</string>
    <string>mesh</string>
    <string>music</string>
    <string>sfx</string>
    <string>time</string>
    <string>voice</string>
    <string>widescreen</string>
  </ExtraFolders>
  <Subscriptions>
    <Subscription>
      <LastSuccessfulCheck>2024-03-08T21:06:22.5301706-07:00</LastSuccessfulCheck>
      <FailureCount>0</FailureCount>
      <Url>iros://Url/https$github.com/tsunamods-codes/7th-Heaven-Catalogs/releases/download/canary/qhimm.xml</Url>
      <Name>Qhimm Catalog</Name>
    </Subscription>
    <Subscription>
      <LastSuccessfulCheck>2024-03-08T21:06:23.3034019-07:00</LastSuccessfulCheck>
      <FailureCount>0</FailureCount>
      <Url>iros://Url/https$github.com/tsunamods-codes/7th-Heaven-Catalogs/releases/download/canary/sega.xml</Url>
      <Name>Sega Catalog</Name>
    </Subscription>
  </Subscriptions>
  <LibraryLocation>C:\FF7\mods</LibraryLocation>
  <FF7Exe>C:\FF7\ff7.exe</FF7Exe>
  <FFNxUpdateChannel>Stable</FFNxUpdateChannel>
  <AppUpdateChannel>Stable</AppUpdateChannel>
  <LastUpdateCheck>0001-01-01T00:00:00</LastUpdateCheck>
  <Options>
    <GeneralOptions>AutoSortMods</GeneralOptions>
    <GeneralOptions>AutoActiveNewMods</GeneralOptions>
    <GeneralOptions>AutoImportMods</GeneralOptions>
    <GeneralOptions>OpenIrosLinksWith7H</GeneralOptions>
    <GeneralOptions>OpenModFilesWith7H</GeneralOptions>
  </Options>
  <IntOptions>None</IntOptions>
  <CurrentProfile>Default</CurrentProfile>
  <MainWindow>
    <X>655</X>
    <Y>407</Y>
    <W>1250</W>
    <H>600</H>
    <State>Normal</State>
  </MainWindow>
  <AutoUpdateSource>#F!yBlHTYiJ!SFpmT2xII7iXcgXAmNYLJg</AutoUpdateSource>
  <AutoUpdateOffered>0</AutoUpdateOffered>
  <DateTimeStringFormat>MM/dd/yyyy</DateTimeStringFormat>
  <DateTimeCulture>en-US</DateTimeCulture>
  <IsFirstStart>false</IsFirstStart>
  <GameLaunchSettings>
    <AutoMountGameDisc>true</AutoMountGameDisc>
    <AutoUnmountGameDisc>true</AutoUnmountGameDisc>
    <AutoUpdateDiscPath>true</AutoUpdateDiscPath>
    <MountingOption>MountWithPowerShell</MountingOption>
    <DisableReunionOnLaunch>true</DisableReunionOnLaunch>
    <ReverseSpeakers>false</ReverseSpeakers>
    <LogarithmicVolumeControl>true</LogarithmicVolumeControl>
    <SelectedSoundDevice>00000000-0000-0000-0000-000000000000</SelectedSoundDevice>
    <SelectedMidiData>GENERAL_MIDI</SelectedMidiData>
    <ShowLauncherWindow>true</ShowLauncherWindow>
    <HasDisplayedOggMusicWarning>false</HasDisplayedOggMusicWarning>
    <HasDisplayedMovieWarning>false</HasDisplayedMovieWarning>
    <EnablePs4ControllerService>false</EnablePs4ControllerService>
    <EnableGamepadPolling>false</EnableGamepadPolling>
    <InGameConfigOption>[Default] Steam KB+PlayStation (Stock).cfg</InGameConfigOption>
  </GameLaunchSettings>
  <UserColumnSettings>
    <SortDirection>0</SortDirection>
    <MyModsColumns>
      <ColumnInfo>
        <Name>Name</Name>
        <Width>133.99463709677423</Width>
        <AutoResize>true</AutoResize>
      </ColumnInfo>
      <ColumnInfo>
        <Name>Author</Name>
        <Width>66.99731854838711</Width>
        <AutoResize>true</AutoResize>
      </ColumnInfo>
      <ColumnInfo>
        <Name>Category</Name>
        <Width>140</Width>
        <AutoResize>false</AutoResize>
      </ColumnInfo>
      <ColumnInfo>
        <Name>Active</Name>
        <Width>80</Width>
        <AutoResize>false</AutoResize>
      </ColumnInfo>
      <ColumnInfo>
        <Name>Miscellaneous</Name>
        <Width>300</Width>
        <AutoResize>false</AutoResize>
      </ColumnInfo>
    </MyModsColumns>
    <BrowseCatalogColumns>
      <ColumnInfo>
        <Name>Name</Name>
        <Width>0</Width>
        <AutoResize>true</AutoResize>
      </ColumnInfo>
      <ColumnInfo>
        <Name>Author</Name>
        <Width>0</Width>
        <AutoResize>true</AutoResize>
      </ColumnInfo>
      <ColumnInfo>
        <Name>Released</Name>
        <Width>90</Width>
        <AutoResize>false</AutoResize>
      </ColumnInfo>
      <ColumnInfo>
        <Name>Category</Name>
        <Width>100</Width>
        <AutoResize>false</AutoResize>
      </ColumnInfo>
      <ColumnInfo>
        <Name>Size</Name>
        <Width>60</Width>
        <AutoResize>false</AutoResize>
      </ColumnInfo>
      <ColumnInfo>
        <Name>Inst.</Name>
        <Width>40</Width>
        <AutoResize>false</AutoResize>
      </ColumnInfo>
    </BrowseCatalogColumns>
  </UserColumnSettings>
</Settings>